[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple todo app with an LLM note summarizer
[access "refs/*"]
	owner = group Developers
	owner = group user/Hecate946
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Hecate946
	label-Verified = -1..+1 group user/Hecate946
	push = group user/Hecate946
	read = group user/Hecate946
	rebase = group user/Hecate946
	removeReviewer = group user/Hecate946
	submit = group user/Hecate946
[access "refs/heads/*"]
	create = group user/Hecate946
	push = +force group user/Hecate946
	pushMerge = group user/Hecate946
	read = group user/Hecate946
[access "refs/tags/*"]
	push = group user/Hecate946
	push = +force group user/Hecate946
